<div class="row">
  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-jim-concannon.png", class: "headshot") %></p>
    <p class="text-center">James (Jim) Concannon</p>
    <p class="teal text-center">President, CEO &amp; Owner</p>
    <div class="bio">
      <p>Jim is an insurance industry executive with over 25 years of hands-on experience. He worked under both his grandfather, Emmett Concannon, and his father, Michael Concannon, where he learned the art of client management and the ins-and-outs of the insurance industry. Jim earned his BSBA in Business from the University of Tulsa, and holds a Commercial Lines Coverage Specialist designation.</p>
      <p>He lives in New York City with his husband, Jason, where he heads the east coast office for The Concannon Insurance Agency. In his spare time, Jim enjoys traveling, running half marathons and serves on the Board of Directors of the Alton, Illinois nonprofit Challenge Unlimited.</p> 
      <p><a href="mailto:jim@concannonagency.com">jim@concannonagency.com</a></p>
    </div>
  </div>


  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-john-concannon.png", class: "headshot") %></p>
    <p class="text-center">John Concannon</p>
    <p class="teal text-center">Vice President &amp; Owner</p>
    <div class="bio">
      <p>With over 15 years of insurance industry experience, John oversees client relationships and new business development for The Concannon Insurance Agency.  He has earned professional certifications as a Certified Identity Theft Risk Management Specialist (CITRMS) and a Certified Insurance Service Representative (CISR).</p>
      <p>Fluent in Spanish, John has become a leading insurance specialist catering to Hispanic-owned businesses. John holds a BA from the University of Missouri-Columbia and has completed advanced studies at the Universidad Autonoma de Guadalajara in Guadalajara, Mexico. John met his wife, Adria, while living in Mexico City in 2001 and has two sons. Outside of the office, John enjoys boating at the Lake of the Ozarks, traveling to Mexico with his family, and coaching his son's baseball team.</p>
      <p><a href="mailto:john@concannonagency.com">john@concannonagency.com</a></p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-michael-concannon.png", class: "headshot") %></p>
    <p class="text-center">Michael Concannon</p>
    <p class="teal text-center">Consultant &amp; Owner</p>
    <div class="bio">
      <p>Michael brings over 50 years of insurance and client management experience to The Concannon Insurance Agency. In 1960, he started working as an apprentice at The Concannon Insurance Agency under his father, Emmett Concannon, and has since worked his way up to lead the organization since the 1980's.</p>
      <p>Throughout his tenure, Michael has dedicated his career to helping both established organizations and entrepreneurial individuals achieve their personal and professional dreams. Michael holds a BA from St. Louis University and lives in St. Louis, Missouri with his wife of more than 50 years, Jane. Michael is an avid boater and enjoys spending time with his nine grandchildren.</p>
    </div>
  </div>


  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-tammy-mayer.png", class: "headshot") %></p>
    <p class="text-center">Tammy Mayer</p>
    <p class="teal text-center">Assistant Vice President</p>
    <div class="bio">
      <p>Tammy is a veteran of the insurance business with more than 35 years of hands on industry and management expertise. She has been with The Concannon Insurance Agency since 1995 and currently serves as the Assistant Vice President where she oversees account management across enterprise and small business clients.</p>
      <p>Tammy is both a Certified Insurance Service Representative and is a Licensed Property &amp; Casualty Broker. She lives in St. Louis, Missouri with her husband, Rick, and her two children. Tammy is a passionate outdoorsman and enjoys contributing to volunteer activities throughout her community in her spare time.</p>
      <p><a href="mailto:tammy@concannonagency.com">tammy@concannonagency.com</a></p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-terry-leech.png", class: "headshot") %></p>
    <p class="text-center">Theresa (Terry) Leech</p>
    <p class="teal text-center">Account Manager</p>
    <div class="bio">
      <p>Terry comes to The Concannon Insurance Agency as an 18 year veteran of the insurance industry. Between 1996 to 2005, she worked as an account manager and specialist for Ohio Casualty Group. Since 2005, Terry has been working on the agency side where she has focused on business insurance as an account manager. In her spare time, Terry and her husband enjoy movies, music and traveling.</p>
      <p><a href="mailto:terry@concannonagency.com">terry@concannonagency.com</a></p>
    </div>
  </div>


  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-laura-brown.png", class: "headshot") %></p>
    <p class="text-center">Laura Brown</p>
    <p class="teal text-center">Account Manager</p>
    <div class="bio">
      <p>Laura is an insurance industry veteran with nearly 30 years of experience. She began her career at a boutique agency in Kirkwood, Missouri before moving onto Transamerica Insurance where she held a variety of specialist roles and built a well-rounded industry knowledge. In 1996, Laura moved back to the agency side and served as the Life, Health &amp; Securities Manager for an agency in Pacific, MO.</p>
      <p>After 10 years of managing benefits, she moved to the Commercial Lines department where she continues today with The Concannon Insurance Agency and has been a team member for over five years. Laura earned her CIC (Certified Insurance Counselor) designation in 2013. She is married with two children and enjoys camping, boating and traveling with her family.</p>
      <p><a href="mailto:laura@concannonagency.com">laura@concannonagency.com</a></p>
    </div>
  </div>
</div>


<div class="row">
  
  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-michael-schrand.png", class: "headshot") %></p>
    <p class="text-center">Michael Schrand</p>
    <p class="teal text-center">Loss Control &amp; Risk Management Specialist</p>
    <div class="bio">
      <p>Michael has been working with The Concannon Insurance Agency for nearly a decade and brings with him 20+ years of professional loss control experience from numerous sectors, such as healthcare, manufacturing, construction and service industries. He is both a property assessment specialist and is an expert on reducing workers compensation costs in all industries.</p>
      <p>As a leader in the risk management field, Michael is the mastermind behind Zero Accident Culture® (ZAC®), a revolutionary program geared towards eliminating workplace injuries by systematically reducing hazards, modifying unsafe behaviors, and building an organization-wide commitment to health and safety. At The Concannon Insurance Agency, Michael provides clients with the Zero Accident Culture® program training and in-depth assistance on loss prevention and risk management. Michael holds a BS in Safety Engineering from Illinois State University and an MBA from Fontbonne University. He lives in St. Louis with his wife, Evelyn, and his three daughters.</p>
    </div>
  </div>

  <div class="col-md-6 person">
    <p class="text-center"><%= image_tag("/images/headshot-joe-berchelmann.png", class: "headshot") %></p>
    <p class="text-center">Joe Berchelmann</p>
    <p class="teal text-center">Insurance Brokerage Specialist</p>
    <div class="bio">
      <p>Joe has forty years of experience in the insurance industry and has helped countless companies and individuals with their insurance needs. Joe has known the Concannon’s for thirty years and officially became part of their team in 2010. Highly knowledgeable and experienced, Joe has built a reputation for being an outspoken advocate for a diverse array of clients around the country. He is dedicated to helping them take advantage of the complex insurance and tax laws, while optimizing and minimizing their costs.</p> 
      <p>Joe is married with three grown children, is a graduate of St. Mary’s University, and has completed graduate work at the University of Texas. Outside of the office, Joe has enjoyed coaching collegiate baseball for sixteen years, most recently completing a twelve year tenure at Washington University in St. Louis.</p>
      <p><a href="mailto:laura@concannonagency.com">joe@concannonagency.com</a></p>
    </div>
  </div>
</div>



<script>

$('.bio').readmore({speed: 500});

</script>
