<div class="contact-form">
	<%= simple_form_for @contact, :url => contact_url, :html => {:class => 'form-horizontal' } do |f| %>
		<div class="form-group">
			<%= label_tag 'name', 'Your Name' %>
			<%= f.input :name, input_html: { class: 'form-control' }, :required => true %>
		</div>
		<div class="form-group">
			<%= label_tag 'email', 'Email' %>
			<%= f.input :email, input_html: { class: 'form-control' },:required => true %>
		</div>
		<div class="form-group">
			<%= label_tag 'subject', 'Subject' %>
			<%= f.input :subject, input_html: { class: 'form-control' }, :required => true %>
		</div>
		<div class="form-group">
			<%= label_tag 'message', 'Message' %>
			<%= f.input :message, input_html: { class: 'form-control' },:as => :text, :required => true %>
		</div>
		<div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
			<%= submit_tag nil, class: 'teal-btn btn-default btn-about pull-right', value: "Send" %>
	<% end %>
</div>

