<div class="contact">
	<div class="container text-center">
	  <% flash.each do |key, value| %>
		  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	    <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
	    <div class="alert alert-<%= key %>">
	      <a href="#" data-dismiss="alert">×</a>
	        <%= value %>
	    </div>
	  <% end %>
	</div>

	<div class="row navy-border">
		<div class="contact-bg-image">
			<h1 class="text-center">CONTACT US</h1>
		</div>
		
		<%= render :partial => "contact_form" %>

	</div>

	<div class="container">
		<h2 class="text-center white">LET CONCANNON PROTECT YOUR FUTURE</h2>
	</div>

</div>

