<!DOCTYPE html>
<html>
<head>
  <title>Concannon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<%= render :partial => "layouts/header" %>
	</nav>

	<!-- <div class="container"> -->
		<%= yield %>
	<!-- </div> -->


	<!-- Footer -->
	<footer>
		<%= render :partial => "layouts/footer" %>
	</footer>
</body>
</html>
