<!DOCTYPE html>
<html>
<head>
  <title>Concannon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

	<!-- Static navbar -->	
		<%= render :partial => "layouts/header" %>


		<%= yield %>

	<!-- Footer -->
	<footer>
		<%= render :partial => "layouts/footer" %>
	</footer>
</body>
</html>
